path {
  stroke: #000;
  stroke-width: .5;
  cursor: pointer;
}

text {
  font: 12px sans-serif;
  font-weight: bold;
  cursor: pointer;
}

body {
  width: 1040px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  line-height: 70%;
  margin: .5em 0;
}

h2 {
  text-align: center;
  line-height: 70%;
  margin: .5em 0;
}
h3 {
  text-align: center;
  line-height: 50%;
}

p {
  text-align: center;
}

p2 { /* paragraph styling for mouse-over functionality */
	text-align: left;
}

p#intro { /* this may be obsolete */
  text-align: center;
  margin: 1em 0;
}

#annotation { /* for the mouse-over annotation functionality in executeWheel */
    border: 3px solid rgb(102, 122, 102);
    margin-top: 0px;
    padding-left: 6px;
    padding-top: 0px;
    border-radius: 4px;
    position: absolute;
    min-height: 2.4em;
    width: 400px;
    top: 140px;
    right: 20px;
    background-color: rgb(102, 122, 102);
    color: white;
}

ul { /* for the menu */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { /* for the menu */
/*    display: block;
    width: 60px;
	right: 20px;
    background-color: #A6B8A6; */
	text-decoration: none;
}
