/* Bootstrap overrides to reduce the height of the nav bar */
.navbar-xs { min-height:42px; height: 42px; }
.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 42px; }
.navbar-xs .navbar-nav > li > a {  padding-top: 10px; padding-bottom: 0px; line-height: 42px; }
.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; padding-bottom:0 !important;
    height: 42px;
}
.navbar {
margin-bottom: 5px;
min-height:42px !important;
}

.radio,
.checkbox {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* End of Bootstrap overrides */

.radbut { /* for radio buttons. No longer needed, given usage of grids */
} 

.PSU-green {

}

.container-override {
    margin-top: 0;
}

path {
  stroke: #000;
  stroke-width: .5;
  cursor: pointer;
}

path.link { /* for flare */
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  font-weight: bold;
  cursor: pointer;
}

body {
  /* width: 1040px; */
  margin: 0 auto;
  overflow: hidden;
  /* font-family: "Helvetica Neue", Helvetica; */
  font-family: "Arial", Helvetica, sans-serif;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

.node circle { /* for flare */
  cursor: pointer;
  fill: #fff;
  stroke: darkslategray;
  stroke-width: 1.5px;
}

.node text { /* for flare */
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial", Helvetica, sans-serif;
}
        
#hint { /* for flare */
  position: absolute;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12px;
  color: #4C4C4C;
  left: 10px;
  bottom: 40px;
}

 form { /* for flare */
/*  position: absolute;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12px;
  left: 10px;
  top: 20px;
 */
}

#altView { /* for button to alternate between wheel and flare views of material */
/*     position: absolute;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
    left: 42px;
    top: 12px;
 */}

h1 {
  font-family: "Verdana", Geneva, sans-serif;
  text-align: center;
  line-height: 70%;
  margin: .5em 0;
  font-size: 36px;
  color: #603417;
}

h2 {
  font-family: "Verdana", Geneva, sans-serif;
  text-align: center;
  line-height: 70%;
  margin: .5em 0;
  font-size: 22px;
}

h3 {
  font-family: "Verdana", Geneva, sans-serif;
  text-align: center;
  line-height: 50%;
  font-size: 18px;
}

p {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

p2 { /* paragraph styling for mouse-over functionality */
	text-align: left;
}

p#intro { /* this may be obsolete */
  text-align: center;
  /* margin: 1em 0; */
}

#annotation { /* for the mouse-over annotation functionality in executeWheel */
    border: 3px solid rgb(102, 122, 102);
    margin-top: 0px;
    padding-left: 6px;
    padding-top: 0px;
    border-radius: 4px;
    position: absolute;
    min-height: 2.4em;
    width: 400px;
    top: 140px;
    right: 20px;
    background-color: rgb(102, 122, 102);
    color: white;
}

#legend1{
    border: 3px solid rgb(255, 153, 153);
    margin-top: 0px;
    padding-left: 6px;
    padding-top: 0px;
    border-radius: 4px;
    position: absolute;
    min-height: 1.4em;
    width: 160px;
    top: 200px;
    right: 20px;
    background-color: rgb(255, 153, 153);
    color: white;
}

#legend2{
    border: 3px solid rgb(255, 76, 76);
    margin-top: 0px;
    padding-left: 6px;
    padding-top: 0px;
    border-radius: 4px;
    position: absolute;
    min-height: 1.4em;
    width: 160px;
    top: 240px;
    right: 20px;
    background-color: rgb(255, 76, 76);
    color: white;
}

#legend3{
    border: 3px solid rgb(102, 0, 0);
    margin-top: 0px;
    padding-left: 6px;
    padding-top: 0px;
    border-radius: 4px;
    position: absolute;
    min-height: 1.4em;
    width: 160px;
    top: 280px;
    right: 20px;
    background-color: rgb(102, 0, 0);
    color: white;
}


ul { /* for the menu */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { /* for the menu */
/*    display: block;
    width: 60px;
	right: 20px;
    background-color: #A6B8A6; */
	text-decoration: none;
}
